{% load static %}
<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="{% static 'polls/css/table.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'polls/css/navbar.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'polls/css/base.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        <title>{% block title %}Project {% endblock %}</title>

    </head>
    <body>

        <ul class="nav_bar">
          <li class="nav_content"><a href="{% url 'polls:home' %}" class="active">Home</a></li>
          <li class="nav_content"><a href="{% url 'polls:about' %}">About</a></li>
        </ul>


        {% block content %}{% endblock %}
    </body>
</html>