{% load static %}
<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="{% static 'polls/css/table.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'polls/css/navbar.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'polls/css/base.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'polls/css/bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'polls/css/bootstrap-reboot.css' %}">


        <script src="{% static 'polls/js/bootstrap.js' %}"></script>

        {#Title Here!!#}
        <title>{% block title %}Project {% endblock %}</title>

    </head>
    <body>

        {#Top_level Nav_bar here!#}
        <ul class="nav_bar">
          <li class="nav_content"><a href="{% url 'polls:home' %}" class="active">Home</a></li>
          <li class="nav_content"><a href="{% url 'polls:about' %}">About</a></li>
        </ul>

        {#Content Here!#}
        {% block content %}{% endblock %}
    </body>
</html>