{% extends 'polls/base.html' %}

{% block content %}
    {#Base EXCEL NAV HERE#}

    <ul class="sub_nav_bar">
        <li class="nav_content"><a href="/polls/table/1_3cweka">1-column_3C_weka</a></li>
        <li class="nav_content"><a href="/polls/table/2_chinese_stock">2-chinese-stock</a></li>
        <li class="nav_content"><a href="/polls/table/3_license_plate">3-Shanghai license plate price</a></li>
        <li class="nav_content"><a href="/polls/table/4_hapiness">4-happiness2017</a></li>
{#        <li class="nav_content"><a href="/polls/upload">UploadCSV</a></li>#}

    </ul>
    {% autoescape off %}

        <h1 class="text-center font-weight-bold">A data mining software for supply chain</h1>
        <div class="container">
            <h3> This project is Zhe Liu's project for Zhejiang university's thesis for bachelor's degree. This project aims at developing a
          a easy to use tool for data mining, especially for supply chain data. </h3>
        </div>
    {% endautoescape %}

{% endblock %}