{% extends 'polls/base.html' %}
{% block title %} Project {% endblock %}
{% block content %}

    <form action="http://httpbin.org/post" method="post">
      <select data-placeholder="Begin typing a name to filter..." multiple class="chosen-select" name="test">
        <option value=""></option>
        <option>American Black Bear</option>
        <option>Asiatic Black Bear</option>
        <option>Brown Bear</option>
        <option>Giant Panda</option>
        <option>Sloth Bear</option>
        <option>Sun Bear</option>
        <option>Polar Bear</option>
        <option>Spectacled Bear</option>
      </select>
      <input type="submit">
    </form>

    <ul class="sub_nav_bar">
        <li class="nav_content"><a href="{% url 'polls:table1' %}">1-column_3C_weka</a></li>
      <li class="nav_content"><a href="{% url 'polls:table2' %}">2-chinese-stock</a></li>
      <li class="nav_content"><a href="{% url 'polls:table3' %}">3-Shanghai license plate price</a></li>
      <li class="nav_content"><a href="{% url 'polls:table4' %}">4-happiness2017</a></li>
    </ul>
    {% block table %}
        {% autoescape off %}
             {{ table }}
        {% endautoescape %}
    {% endblock %}
{% endblock %}