{% extends 'polls/base.html' %}

{% block content %}
    {#Base EXCEL NAV HERE#}

    <ul class="sub_nav_bar">
        <li class="nav_content"><a href="/polls/table/cweka">1-column_3C_weka</a></li>
        <li class="nav_content"><a href="/polls/table/chinese_stock">2-chinese-stock</a></li>
        <li class="nav_content"><a href="/polls/table/license_plate">3-Shanghai license plate price</a></li>
        <li class="nav_content"><a href="/polls/table/hapiness">4-happiness2017</a></li>
    </ul>
    {% autoescape off %}
        <div class="container">Please select files to upload:</div>
        <div class="container">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                 {{ form }}
                <button type="submit">Upload</button>
            </form>

        </div>
        {% if messages %}
        <ul class="messages font-weight-bold ">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

    {% endautoescape %}

{% endblock %}